<%- include("./includes/layout/boilerplate.ejs") %>

    <div class="row mt-5">
        <div class="alert alert-danger w-50 col-12 offset-3" role="alert">

            <h4 class="alert-heading d-flex justify-content-center">
                <i class='bx bx-file-find'></i>&nbsp; <%= message %>
            </h4>
            <div class="d-flex justify-content-center mt-3">
                <a href="/listings" class="btn btn-warning">Back to Listings</a>
            </div>
        </div>
    </div>


    <%- include("./includes/footer.ejs") %>